<IfModule mod_security.c>
    <Files async-upload.php>
        SecFilterEngine Off
        SecFilterScanPOST Off
    </Files>
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


Options -Indexes +ExecCGI
AddHandler cgi-script .cgi .pl
# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !=index.php
#    RewriteRule ^index\.php$ - [L]
#    RewriteRule . /index.php [L]
#    RewriteRule ^(?:(?!wp-json).)*$\r?\n? index.html

     #[NC,L,QSA]
#    RewriteRule ^([^?]*)$ index.html?path=$1 [NC,L,QSA]
#    RewriteRule (.*) index.html
</ifModule>