.contacts-container {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:bold;

  .contact-items {
    padding: 15px 0;

    p {
      vertical-align: middle;
      height: 2em;
      a {
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        cursor: pointer;
//        height: 2em;
        padding-left: 2em;
        position: relative;
        top: .5em;
//        width: 2em;

        &.phone-contact {
          margin-left: .3em;
          padding-left: 1.7em;
        }
      }
    }

    .social-info {
      a {
        background-size: contain;
        width: 28px;
        height: 28px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .fb-contact {
    background: url(../images/social/contact-fb.svg);
  }

  .phone-contact {
    background: url(../images/icons/contact-phone.svg);
  }

  .mail-contact {
    background: url(../images/icons/contact-mail.svg);
  }

  .vk-contact {
    background: url(../images/social/contact-vk.svg);
  }
}

.contacts-container a img {
  border-radius: 2px;
}

.fb-like-component {
  .fb_iframe_widget {
    span {
      max-width: 100%;
    }

    iframe {
      max-width: 100%;
    }
  }
}