.fun-page {
  .header_bottom {
    //    visibility: hidden;
    //    display:none;
    opacity: 0;
  }

  div.lang {
    visibility: hidden;
  }

  .footer {
    //    visibility: hidden;
    display:none;
  }

  .main_title {
    visibility: hidden;
    //    display:none;
  }
  .container {
    .title {
      font-size: 3em;
      padding-bottom: 1em;
    }
  }
  navigation {
    //    opacity: 1;
    top: -90px;
  }
  .main {
    top: -90px;
  }

  .album-container {
    .image {
      box-shadow: none;
      margin: 0;
      padding: 0;
      a {
        box-shadow: none;
        margin: 0;
        min-height: 156px;
        min-width: 100%;
        overflow: visible;
        img {
          width: auto;
          margin: 0;
          padding: 0;
          min-height: 156px;
          min-width: 100%;
        }
      }
      a:hover {
        z-index: 100;
      }
    }

    .view-tenth:hover img {
      z-index: 10;
    }
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .reservation_banner {
    display: none;
  }
}