/*** Footer ***/
$footerColor: #2680c9;
//$footerColor: rgba(80, 187, 229, 1);
//$footerColor: #456f7f;
//$footerColor: #02354d;
//$footerColor: #7a7a7a;
//$footerColor: #072438;


.footer {
  .container {
    padding: 15px;
    > div {
      border-left: white 1px solid;
      min-height: 220px;
    }
  }

  h3 {
    text-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
//    color: #F94B4B;
  }

  .gallery-footer {
    text-align: left;
  }

  .contacts-footer {
    h3 {
      text-align: left;
    }

    h4 {
      text-align: left;
    }

    .contact-info {
      line-height: 39px;
      vertical-align: top;
    }
  }

  padding: 0;
//  background: $footerColor;


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+10,2680c9+50,7db9e8+90 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(left,  #7db9e8 10%, #2680c9 50%, #7db9e8 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%,#7db9e8), color-stop(50%,#2680c9), color-stop(90%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #7db9e8 10%,#2680c9 50%,#7db9e8 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #7db9e8 10%,#2680c9 50%,#7db9e8 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #7db9e8 10%,#2680c9 50%,#7db9e8 90%); /* IE10+ */
  background: linear-gradient(to right,  #7db9e8 10%,#2680c9 50%,#7db9e8 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */



  text-align: center;
  ul {
    list-style:none;
    padding: 0;
    text-align: left;
    color: white;
  }
  .social {
//    text-align: center;
    li {
      display: inline-block;
      width: 50px;
    }
    div {
      cursor: pointer;
      display: inline-block;
      width: 39px;
      height: 39px;
    }
    .vk {
      background: url(../images/social/vk.svg);
      background-size: 100%;
    }

    .facebook {
      background: url(../images/social/facebook.svg);
      background-size: 100%;
    }

    .twitter {
      background: url(../images/social/twitter.svg);
      background-size: 100%;
    }
    .instagram {
      background: url(../images/social/instagram.svg);
      background-size: 100%;
    }
  }
  .about-footer {
    text-align: justify;
    color: white;

    h3 {
      text-align: center;
    }
  }
  .copy_right {
    font-size: 0.95em;
    color: #FFF;
    float: right;
  }
  .copy_right p {
    font-size:0.95em;
    color:#FFF;
  }
  .copy_right p a {
    color:#F94B4B;
  }
  .copy_right p a:hover {
    color:#FFF;
    text-decoration:underline;
  }
  .about-message {
    min-height: 10em;
  }
}