
.statement-content {
  margin: 0 10%;
  text-align: justify;
  font-size: 16px;
  padding: 1em;
  p:nth-child(2) {
    text-align: justify;
    line-height: 1.8em;
  }
}

@media all and (max-width: 480px) {
  .statement-content {
    margin: 0;
  }
}
