SecFilterEngine Off
SecFilterScanPOST Off

SecFilterEngine Off
SecFilterScanPOST Off

#BEGIN Image Upload HTTP Error Fix

SecFilterEngine Off
SecFilterScanPOST Off

SecFilterEngine Off
SecFilterScanPOST Off

#END Image Upload HTTP Error Fix

# BEGIN WordPress
Options -Indexes +ExecCGI
AddHandler cgi-script .cgi .pl
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} !^(www\.).+$ [NC]
    RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.*)$ public/index.html?/$1 [L]
</IfModule>
<IfModule mod_security.c>
    <Files async-upload.php>
        SecFilterEngine Off
        SecFilterScanPOST Off
    </Files>
</IfModule>
