<div id="galleries-navigation">
    <ul>
        <li ng-repeat="cat in categories">
            <a ng-class="selectedCategory(cat)" href="{{cat.link}}">{{cat.label}}</a>
        </li>
    </ul>
</div>
<div id="category-head">
    <h4>{{category.description}}</h4>
</div>
<div class="album-container">
    <p>
<a ng-repeat="img in images"
   class="fancybox-thumb fancybox-buttons" rel="fancybox-thumb fancybox-buttons"
   title="{{img.title}}"
   data-fancybox-group="button"
   href="{{img.big}}">
    <img src="{{img.small}}" alt=""/>
    <!--<h5>{{img.title}}</h5>-->
    <span>{{img.title}}</span>
</a>
    </p>
</div>

<!--class="fancybox-button"-->
<!--rel="fancybox-button"-->